@for $i from 1 through 10 {
  .mt-#{$i} {
    margin-top: 4px * $i;
  }
}
@for $i from 1 through 10 {
  .mb-#{$i} {
    margin-bottom: 4px * $i;
  }
}
@for $i from 1 through 10 {
  .ml-#{$i} {
    margin-left: 4px * $i;
  }
}
@for $i from 1 through 10 {
  .mr-#{$i} {
    margin-right: 4px * $i;
  }
}
